<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} ^(%2d|-)[^=]+$ [NC]
RewriteRule ^(.*) $1? [L]
</IfModule>

AddDefaultCharset utf-8
RewriteEngine on
RewriteRule images/captcha.png /captcha/securimage_show.php [NC]
RewriteRule ^(yhdistys|tapahtumat|yhteys|403|404|500|kiitos|kirjaudu|yllapito|ilmoittaudu|rekisteriseloste)/?$ index.php?s=$1 [NC]
RewriteRule ^ulos/?$ kirjaa-ulos.php [NC]
RewriteRule ^kirjaudu/(tapahtumat|testi) index.php?s=kirjaudu&ohjaa=$1 [NC]
RewriteRule ^tapahtumat/([0-9]+) index.php?s=tapahtumat&tid=$1 [NC]
RewriteRule ^tapahtumat/nayta/([0-9]+) index.php?s=tapahtumat&nayta=1&tid=$1 [NC]
RewriteRule ^tapahtumat/(tulevat|menneet) index.php?s=tapahtumat&tid=$1 [NC]
RewriteRule ^(liity|vahvista|tapahtumat)/kiitos$ index.php?s=kiitos&id=$1 [NC,L]
RewriteRule ^vahvista/([A-Za-z0-9_.-]+) index.php?s=aktivoi&koodi=$1 [NC]
RewriteRule ^yhdistys/hallitus/(kaikki|testi) index.php?s=yhdistys&yid=hallitus&nayta=$1 [NC]
RewriteRule ^yhdistys/arkisto/tiedosto/([0-9]+) /arkisto/lataa.php?fid=$1 [NC]
RewriteRule ^yhdistys/(esittely|hallitus|saannot|arkisto) index.php?s=yhdistys&yid=$1 [NC]
RewriteRule ^yllapito/(jasenrekisteri|tapahtumat) index.php?s=yllapito&toiminto=$1 [NC]
RewriteRule ^ilmoittaudu/([0-9]+) index.php?s=ilmoittaudu&tid=$1 [NC]
# Vanhojen sivujen uudelleenohjaukset
RewriteRule ^etusivu/?$ https://kayttajanystavat.fi/ [R=301,NC,L]
RewriteRule ^liity/?$ https://docs.google.com/forms/d/e/1FAIpQLSen-C_S2BSp5UflfXDjYZIMNvKm-M-zcIghHOcTrc5gKcXjVw/viewform [R=302,NC,L]
RewriteRule ^ibm-ekskursio/$ https://kayttajanystavat.fi/tapahtumat/menneet [R=301,L]
RewriteRule ^tieto-ekskursio/$ https://kayttajanystavat.fi/tapahtumat/menneet [R=301,L]
RewriteRule ^wiki/Käyttäjän_ystävät$ https://kayttajanystavat.fi/ [R=301,L]
RewriteRule ^wiki/Tietoa_KäYstä$ https://kayttajanystavat.fi/yhdistys/esittely [R=301,L]
RewriteRule ^wiki/Tulevat_tapahtumat$ https://kayttajanystavat.fi/tapahtumat/tulevat [R=301,L]
RewriteRule ^wiki/Menneet_tapahtumat$ https://kayttajanystavat.fi/tapahtumat/menneet [R=301,L]
RewriteRule ^wiki/Virallisia_dokumentteja$ https://kayttajanystavat.fi/yhdistys/arkisto [R=301,L]
RewriteRule ^wiki/Yhdistyksen_säännöt$ https://kayttajanystavat.fi/yhdistys/saannot [R=301,L]
RewriteRule ^wiki/Hallitus$ https://kayttajanystavat.fi/yhdistys/hallitus [R=301,L]
RewriteRule ^wiki/Liittyminen_yhdistyksen_jäseneksi$ https://kayttajanystavat.fi/liity [R=301,L]
# Virhesivut
ErrorDocument 404 /404
ErrorDocument 403 /403
ErrorDocument 500 /500
# Listausesto
IndexIgnore *
